body {
  color: #221E1F;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4;
  font-family: 'Noto Sans KR', sans-serif;
  font-family: 'Roboto', sans-serif;
  background-color: #ffffffbb;
  margin: 0;
}

a {
  text-decoration: none;
  color: #221E1F;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffffbb;
  padding: 0px 0px 0px 0px;
  /* border-bottom: solid 1px #707070; */
  position: relative;
}

.navbar_logo {
  width: 6%;
  color: #ffffffbb;
  padding-top: 2%;
  padding-left: 4%;
  padding-bottom: 2%;
}

.navbar_menu {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.navbar_menu li {
  padding: 8px 12px;
}

.navbar_menu li:hover {
  background-color: #ffffffbb;
  border-radius: 4px;
  transition: 0.2s;
}

.navbar_icons {
  font-size: 40px;
  list-style: none;
  color: #221E1F;
  display: flex;
  padding-left: 0;
  padding-right: 10%;
}

.navbar_icons li {
  padding: 8px 12px;
}

.navbar_toggleBtn {
  display: none;
  position: absolute;
  right: 32px;
  font-size: 40px;
  color: #221E1F;
  padding-top: 20px;
}

video {
  position: relative;
  width: 100%;
  height: 10%;
}

#page1_1 .profile {
  margin: 100px 0 80px 40px;
}

#page1_1 .profile .profile_title {
  font-size: 30px;
  margin: 100px 0 80px 0px;
  font-weight: bold;
  color: #221E1F;
}

#page1_1 .profile img{
  width: 30%;
}

#page1_1 .profile .detail {
  font-size: 20px;
  margin: 100px 0 80px 0px;
}

#page1_1 .profile .detail .profile_job{
  font-size: 20px;
  margin: 100px 0 80px 0px;
}

#page1_1 .profile .detail .profile_name{
  font-size: 20px;
  margin: 100px 0 80px 0px;
}

#page1_1 .profile .detail h2 {
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #221E1F;
}

#page1_1 .profile .detail h3 {
  padding-bottom: 0px;
  font-size: 15px;
}

#page1_1 .profile .detail_2 {
  padding-bottom: 10px;
  font-size: 15px;
}

#page1_1 .page1_3 img {
  width: 33%;
  display: inline-block;
}

#page2 .page2_1 {
  font-size: 30px;
  margin: 100px 0 80px 40px;
  font-weight: bold;
}

.content_2 {
  font-size: 20px;
  margin: 0px 0 80px 40px;
  position: relative;
  float: left;
}

.price {
  width: 100px;
  position: absolute;
  margin: 10px 0px 0px 600px;
  float: right;
  margin-bottom: 0px;
  padding-bottom: 0px;
  margin-left: 440px;
  top: 44px;
}

.link {
  position: absolute;
  font-size: 20px;
  margin: 240px 40px 80px 40px;
  text-decoration: none;
  color: #221E1F;
  font-weight: bold;
}

.background {
  background-color: #221E1F;
}


#page3 {
  margin: 500px 0 80px 40px;
  display: block;
}

#page3 .page3_1 {
  margin: 0px 0px 0px 0px;
  font-size: 30px;
  font-weight: bold;
  padding-top: 100px;
  color: #ffffffbb;
}

#page3 .page3_2 {
  margin: 0px 0px 0px 0px;
  font-size: 20px;
  padding-top: 100px;
  color: #ffffffbb;
}

#page3 .page3_3 {
  margin: 0px 0 40px 0px;
  font-size: 20px;
  padding-top: 100px;
  color: #ffffffbb;
}

#page4 {
  background-color: #ffffffbb;
}

#page4 .page4_1 {
  margin: 0px 0px 0px 0px;
  padding: 20px 0px 0px 0px;
  font-size: 30px;
  font-weight: bold;
  color: #221E1F;
}

#page4 .page4_2 {
  margin: 0px 0px 0px 0px;
  padding: 20px 0px 0px 0px;
  font-size: 20px;
  color: #221E1F;
}

#page4 .page4_3 {
  margin: 0px 0px 0px 40px;
  font-size: 20px;
  padding-top: 20px;
  color: #221E1F;
}

#page4 .page4_4 {
  margin: 0px 0px 0px 40px;
  font-size: 20px;
  padding: 100px 0px 0px 40px;
  /* color: #221E1F; */
  text-decoration: none;
}

@media screen and (max-width: 800px) {
  .navbar {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    padding-bottom: 40px;
  }

  .navbar_menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navbar_menu li {
    width: 100%;
    text-align: center;
  }

  .navbar_logo {
    width: 20%;
    color: #ffffffbb;
    padding-top: 6%;
    padding-left: 4%;
  }

  .navbar_icons {
    display: none;
    justify-content: center;
    width: 100%;
  }

  .navbar .navbar_toggleBtn {
    display: block;
  }

  .navbar_menu.active,
  .navbar_icons.active {
    display: flex;
  }

  video {
    position: relative;
    z-index: 0;
  }

  #page1_1 .profile {
    font-size: 30px;
    margin: 20px;
    position: relative;
  }

  #page1_1 .profile .profile_title {
    margin: 20px 0 20px 0px;
    font-weight: bold;
  }

  #page1_1 .profile img{
    width: 50%;
    
  }

  #page1_1 .profile .detail {
    font-size: 15px;
    margin: 20px 0 20px 0px;
  }
  
  #page1_1 .profile .detail .profile_box{
    position: absolute;
    margin: 60% 2% 50% 60%;
  }

  #page1_1 .profile .detail .profile_box .profile_job{
    font-size: 20px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 20px 0px;
    font-weight: bold;
  }
  
  #page1_1 .profile .detail .profile_box .profile_name{
    font-size: 14px;
    margin: 0px 0px 0px 0px;
    font-weight: bold;
  }

  #page1_1 .profile .detail .detail_2_under{
    padding-bottom: 20px;
  }


  #page1_1 .profile .detail .profile_new{
    padding-top: 20px;
    font-weight: bold;
  }


  #page1_1 .profile .detail .detai_hidden{
    display: none;
  }

  #page1_1 .page1_3 img {
    width: 100%;
    display: inline-block;
  }

  #page2 {
    font-size: 30px;
    margin: 20px 0 0px 0px;
  }

  #page2 .page2_1 {
    font-size: 30px;
    margin: 20px 0 0px 20px;
    font-weight: bold;
    color: #221E1F;
  }

  .content_2 {
    font-size: 15px;
    margin: 20px 0 20px 20px;
    position: relative;
    float: left;
  }

  .price {
    width: 100px;
    position: absolute;
    margin: 0px 0px 20px 400px;
    float: right;
    padding-bottom: 0px;
    margin-left: 260px;
    top: 44px;
  }

  .link {
    position: absolute;
    font-size: 15px;
    margin: 200px 40px 0px 20px;
    color: #707070;
  }

  #page3 {
    margin: 280px 0 20px 0px;
    padding: 20px 20px;
    display: block;
    background-size: 100% 80%;
    background-color: #221E1F;
    position: relative;
  }

  #page3 .page3_1 {
    margin: 20px 0px 0px 0px;
    padding: 2px 0px 0px 0px;
    font-size: 30px;
    font-weight: bold;
    color: #ffffffbb;
  }

  #page3 .page3_2 {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    font-size: 15px;
    padding-top: 20px;
    color: #ffffffbb;
  }

  #page3 .page3_3 {
    font-size: 15px;
    color: #ffffffbb;
    padding: 40px 0px 0px 0px;
  }

  #page4 {
    background-color: #ffffffbb;
    border-color: none;
    margin: 20px;

  }

  #page4 .page4_1 {
    margin: 0px 0px 0px 0px;
    padding: 20px 0px 0px 0px;
    font-size: 30px;
    font-weight: bold;
    padding-top: 40px;
    color: #221E1F;
  }

  #page4 .page4_2 {
    margin: 0px 0px 0px 0px;
    font-size: 15px;
    padding-top: 20px;
    color: #221E1F;
  }

  #page4 .page4_3 {
    margin: 0px 0px 20px 0px;
    font-size: 15px;
    padding-top: 15px;
    color: #221E1F;
  }

  #page4 .page4_4 {
    margin: 0px 0px 20px 0px;
    font-size: 15px;
    padding: 20px 0px 20px 0px;
    color: #221E1F;
    text-decoration: none;
    font-weight: bold;
  }
}
