body {
  color: #707070;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4;
  font-family: 'Noto Sans KR', sans-serif;
  font-family: 'Roboto', sans-serif;
  background-color: #FFFFFF;
  margin: 0;
}

a {
  text-decoration: none;
  color: #707070;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F6F6F6;
  padding: 8px 0px 0px 0px;
  border-bottom: solid 1px #707070;
  position: relative;
}

.navbar_logo {
  font-size: 30px;
  color: #F6F6F6;
  padding-left: 10%;
}

.navbar_menu {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.navbar_menu li {
  padding: 8px 12px;
}

.navbar_menu li:hover {
  background-color: #dddddd;
  border-radius: 4px;
  transition: 0.2s;
}

.navbar_icons {
  list-style: none;
  color: #707070;
  display: flex;
  padding-left: 0;
  padding-right: 10%;
}

.navbar_icons li {
  padding: 8px 12px;
}

.navbar_toggleBtn {
  display: none;
  position: absolute;
  right: 32px;
  font-size: 40px;
  color: #707070;
  padding-top: 20px;
}

video {
  position: relative;
  width: 100%;
}

#page1 .page1_1 {
  font-size: 30px;
  margin: 100px 0 80px 40px;
  font-weight: bold;
}

#page1 .page1_2 {
  font-size: 20px;
  margin: 100px 0 80px 40px;
}

#page1 .page1_3 img {
  width: 33%;
  display: inline-block;
}

#page2 .page2_1 {
  font-size: 30px;
  margin: 100px 0 80px 40px;
  font-weight: bold;
}

.content_2 {
  font-size: 20px;
  margin: 0px 0 80px 40px;
  position: relative;
  float: left;
}

.price {
  width: 100px;
  position: absolute;
  margin: 10px 0px 0px 600px;
  float: right;
  margin-bottom: 0px;
  padding-bottom: 0px;
  margin-left: 440px;
  top: 44px;
}

.link {
  position: absolute;
  font-size: 20px;
  margin: 240px 40px 80px 40px;
  text-decoration: none;
  color: #707070;
}

.background {
  background-color: #221E1F;
}


#page3 {
  margin: 500px 0 80px 40px;
  display: block;
}

#page3 .page3_1 {
  margin: 0px 0px 0px 0px;
  font-size: 30px;
  font-weight: bold;
  padding-top: 100px;
  color: #FFFFFF;
}

#page3 .page3_2 {
  margin: 0px 0px 0px 0px;
  font-size: 20px;
  padding-top: 100px;
  color: #FFFFFF;
}

#page3 .page3_3 {
  margin: 0px 0 40px 0px;
  font-size: 20px;
  padding-top: 100px;
  color: #FFFFFF;
}

#page4 {
  background-color: #FFFFFF;
}

#page4 .page4_1 {
  margin: 0px 0px 0px 40px;
  font-size: 30px;
  font-weight: bold;
  padding-top: 100px;
  color: #221E1F;
}

#page4 .page4_2 {
  margin: 0px 0px 0px 40px;
  font-size: 20px;
  padding-top: 20px;
  color: #221E1F;
}

#page4 .page4_3 {
  margin: 0px 0px 0px 40px;
  font-size: 20px;
  padding-top: 20px;
  color: #221E1F;
}

#page4 .page4_4 {
  margin: 0px 0px px 40px;
  font-size: 20px;
  padding: 100px 0px 40px 40px;
  color: #221E1F;
  text-decoration: none;
}

@media screen and (max-width: 800px) {
  .navbar {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
    position: relative;
  }

  .navbar_menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navbar_menu li {
    width: 100%;
    text-align: center;
  }

  .navbar_icons {
    display: none;
    justify-content: center;
    width: 100%;
  }

  .navbar_toggleBtn {
    display: block;
  }

  .navbar_menu.active,
  .navbar_icons.active {
    display: flex;
  }

  video {
    position: relative;
    width: 100%;
    z-index: 0;
  }

  #page1 .page1_1 {
    font-size: 40px;
    margin: 20px 0 20px 20px;
    font-weight: bold;
  }

  #page1 .page1_2 {
    font-size: 15px;
    margin: 50px 0 40px 20px;
  }

  #page1 .page1_3 img {
    width: 100%;
    display: inline-block;
  }

  #page2 .page2_1 {
    font-size: 40px;
    margin: 100px 0 40px 20px;
    font-weight: bold;
  }

  .content_2 {
    font-size: 15px;
    margin: 0px 0 40px 20px;
    position: relative;
    float: left;
  }

  .price {
    width: 100px;
    position: absolute;
    margin: 0px 0px 0px 400px;
    float: right;
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-left: 260px;
    top: 44px;
  }

  .link {
    position: absolute;
    font-size: 15px;
    margin: 200px 40px 80px 20px;
    text-decoration: none;
    color: #707070;
  }

  .background {
    width: auto;
    background-color: #221E1F;
  }


  #page3 {
    margin: 300px 0 80px 20px;
    display: block;
  }

  #page3 .page3_1 {
    margin: 0px 0px 0px 0px;
    font-size: 30px;
    font-weight: bold;
    padding-top: 100px;
    color: #FFFFFF;
  }

  #page3 .page3_2 {
    margin: 0px 0px 0px 0px;
    font-size: 15px;
    padding-top: 40px;
    color: #FFFFFF;
  }

  #page3 .page3_3 {
    margin: 0px 0 20px 0px;
    font-size: 15px;
    padding-top: 40px;
    color: #FFFFFF;
  }

  #page4 {
    background-color: #FFFFFF;
  }

  #page4 .page4_1 {
    margin: 0px 0px 0px 20px;
    font-size: 30px;
    font-weight: bold;
    padding-top: 100px;
    color: #221E1F;
  }

  #page4 .page4_2 {
    margin: 0px 0px 0px 20px;
    font-size: 15px;
    padding-top: 20px;
    color: #221E1F;
  }

  #page4 .page4_3 {
    margin: 0px 0px 0px 20px;
    font-size: 15px;
    padding-top: 15px;
    color: #221E1F;
  }

  #page4 .page4_4 {
    margin: 0px 0px 0px 20px;
    font-size: 15px;
    padding: 40px 0px 20px 0px;
    color: #221E1F;
    text-decoration: none;
  }
}
