body {
  color: #221E1F;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4;
  font-family: 'Noto Sans KR', sans-serif;
  font-family: 'Roboto', sans-serif;
  background-color: #ffffffbb;
  margin: 0;
}

a {
  text-decoration: none;
  color: #221E1F;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffffbb;
  padding: 0px 0px 0px 0px;
  /* border-bottom: solid 1px #707070; */
  position: relative;
}

.navbar_logo {
  width: 6%;
  color: #ffffffbb;
  padding-top: 2%;
  padding-left: 4%;
  padding-bottom: 2%;
}

.navbar_menu {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.navbar_menu li {
  padding: 8px 12px;
}

.navbar_menu li:hover {
  background-color: #ffffffbb;
  border-radius: 4px;
  transition: 0.2s;
}

.navbar_icons {
  font-size: 40px;
  list-style: none;
  color: #221E1F;
  display: flex;
  padding-left: 0;
  padding-right: 10%;
}

.navbar_icons li {
  padding: 8px 12px;
}

.navbar_toggleBtn {
  display: none;
  position: absolute;
  right: 32px;
  font-size: 40px;
  color: #221E1F;
  padding-top: 20px;
}

video {
  position: relative;
  width: 100%;
  height: 10%;
}

#page1 {
  margin: 20px;
  text-align: center;
}

#page1 .page1_1 {
  margin-bottom: 20px;
  border-bottom: 1px solid #221E1F;
}

#page1 .page1_1 .page1_1_profile_title {
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 20px;
}

#page1 .page1_1 .page1_1_profile_image {
  width: 50%;
  margin-bottom: 20px;
}

#page1 .page1_1 .page1_1_profile_name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

#page1 .page1_1 .page1_1_profile_sub {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
}

#page1 .page1_2 {
  font-size: 16px;
}

#page1 .page1_2 h2 {
  font-size: 20px;
  font-weight: bold;
}

#page1 .page1_2 #page1_2_career {
  font-size: 16px;
  margin: 10px 10px;
}

#page1 .page1_2 a.button {
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
}

/*프로필의 히든창*/
#page1 .page1_2 .page1_2_career_hidden {
}

#page1 .page1_2 .page1_2_career_hidden h2 {
  font-size: 20px;
  font-weight: bold;
}

#page1 .page1_2 .page1_2_career_hidden #page1_2_career {
  font-size: 16px;
  margin: 10px 10px;
}

/*프로필의 히든창*/

#page1 .page1_3 .page1_3_title {
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 20px;
  border-top: 1px solid #221E1F;
  padding-top: 20px;
}

#page1 img {
  width: 100%;
  display: inline-block;
}

/*프로필*/

@media screen and (max-width: 800px) {

  /*navbar*/
  .navbar {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    padding-bottom: 40px;
  }

  .navbar_menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navbar_menu li {
    width: 100%;
    text-align: center;
  }

  .navbar_logo {
    width: 20%;
    color: #ffffffbb;
    padding-top: 6%;
    padding-left: 4%;
  }

  .navbar_icons {
    display: none;
    justify-content: center;
    width: 100%;
  }

  .navbar .navbar_toggleBtn {
    display: block;
  }

  .navbar_menu.active,
  .navbar_icons.active {
    display: flex;
  }

  /*navbar*/

  /*프로필*/
  video {
    position: relative;
    z-index: 0;
  }

  #page1 {
    margin-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: #e0e0e042;
  }

  #page1 .page1_1 {
    margin: 20px;
    border-bottom: 1px solid #221E1F;
  }

  #page1 .page1_1 .page1_1_profile_title {
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    padding-top: 20px;
    margin-bottom: 20px;
  }

  #page1 .page1_1 .page1_1_profile_image {
    width: 70%;
    margin-bottom: 20px;
  }

  #page1 .page1_1 .page1_1_profile_name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  #page1 .page1_1 .page1_1_profile_sub {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  #page1 .page1_2 {
    font-size: 16px;
  }

  #page1 .page1_2 h2 {
    font-size: 20px;
    font-weight: bold;
  }

  #page1 .page1_2 #page1_2_career {
    font-size: 16px;
    margin: 10px 10px;
  }

  #page1 .page1_2 a.button {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  /*프로필의 히든창*/
  #page1 .page1_2 .page1_2_career_hidden {
  }

  #page1 .page1_2 .page1_2_career_hidden h2 {
    font-size: 20px;
    font-weight: bold;
  }

  #page1 .page1_2 .page1_2_career_hidden #page1_2_career {
    font-size: 16px;
    margin: 10px 10px;
  }

  /*프로필의 히든창*/

  #page1 .page1_3 .page1_3_title {
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 20px;
    border-top: 1px solid #221E1F;
    padding-top: 20px;
  }

  #page1 img {
    width: 100%;
    display: inline-block;
  }

  /*프로필*/

  /*레슨 및 문의*/
  #page2 {
    margin: 20px;
    padding-bottom: 20px;
  }

  #page2 .page2_1 {
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 20px;
  }

  #page2 .page2_2 {
    font-size: 16px;
  }

  #page2 .page2_3 {
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
  }

  /*레슨 및 문의*/

  /*오시는 길*/
  #page3 {
    margin: 20px;
    border-top: 1px solid #221E1F;
  }

  #page3 .page3_1 {
    font-size: 24px;
    font-weight: bold;
    padding: 20px 0px 20px 0px;
  }

  /*오시는 길*/


  /*유튜브&인스타*/
  #page4 {
    margin: 20px 0 0 0;
    background-color: #221E1F;
    padding-bottom: 40px;
  }

  #page4 a {
    color: #ffffff;
  }

  #page4 .page4_1 {
    color: #ffffff;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    padding-top: 20px;
    opacity: 80%;
  }

  #page4 .page4_2 {
    opacity: 80%;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    opacity: 80%;
  }

  #page4 .page4_3 {
    opacity: 80%;
    margin: 0;
    font-size: 40px;
  }

  #page4 .page4_3 img {
    opacity: 80%;
    width: 40px;
  }

  #page4 .page4_3 .insta a {
    opacity: 80%;
    display: block;
  }

  #page4 .page4_3 .youtube a {
    opacity: 80%;
    display: block;
  }

  #page4 .page4_3 table {
    text-align: center;
    width: 100%;
    table-layout: fixed;
  }

  /*유튜브&인스타*/
}